<ion-header>
    <ion-toolbar color="primary">
      <p margin slot="end" (click)="fechar()">FECHAR</p> 
    <ion-title>Adicionar novo Evento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-col>
      <form (ngSubmit)="cadastrar()" [formGroup]="form">
        <ion-item>
          <ion-label position="stacked">Evento</ion-label>
          <ion-input formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data</ion-label>
          <ion-input formControlName="data" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="stacked">Hora</ion-label>
          <ion-input formControlName="hora" type="Time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descrição</ion-label>
          <ion-textarea formControlName="descricao" rows="" cols="20" placeholder="Comente sobre o evento"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-button (click)="limpar()">Limpar</ion-button>
          <ion-button slot="end" [disabled]="form.invalid" type="submit" >Enviar<ion-icon name="send"></ion-icon></ion-button>
        </ion-item>
      </form>
    </ion-col>
  </ion-card>
  
</ion-content>