<ion-content padding>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="funcionarios">
        <ion-icon name="people"></ion-icon>
        <ion-label>Funcionário</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="principal" >
        <ion-icon name="attach"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="projetos">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Projetos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>

