<ion-header>
  <ion-toolbar>
    <ion-title>Funcionarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form *ngIf="funcionario!=null">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirma a Senha</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Habilidades</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Projetos</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item>
    <ion-button type="submit">Atualizar</ion-button>
  </form>
</ion-content>