<ion-content padding>
    <ion-list lines="full">
        <ion-item *ngFor="let item of itens">
            <ion-label slot="start">
                <h5>Nome : {{item.name}}</h5>
                <p>Email : {{item.email}}</p>
            </ion-label>
            <ion-buttons slot="end">
                <ion-button color="ligth" (click)="verUsuario(item.id)">
                    <ion-icon name="eye"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>