<ion-header>
    <ion-toolbar color="primary ">
        <ion-title>
            Eventos
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-card *ngFor="let evento of eventos">
            <ion-card-header>
                    <ion-row>
                        <ion-col size="4">
                            <ion-card-subtitle>
                                <ion-row>{{evento.data | date: 'dd/MM/yyyy'}}</ion-row>
                                <ion-row>{{evento.hora}}</ion-row>
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col offset="6">
                            <ion-icon name="megaphone" size="large"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row> 
                        <ion-card-title> {{evento.titulo}}</ion-card-title>
                    </ion-row>
            </ion-card-header>
            <ion-card-content padding>
                <p>Informações:</p>
                {{evento.descricao}}
            </ion-card-content>        
        </ion-card>
        <ion-row *ngIf="root">
            <ion-col offset="5">
                <ion-icon size="large" (click)="adicionarEvento()" name="add-circle-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
