<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center aling-items-center>
    <H1>Loopis</H1>
  </ion-row>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br />
  <div>
    <ion-checkbox color="primary"></ion-checkbox> Root
  </div>
  <br/><br/><br/>
  <ion-row justify-content-center align-items-center>
    <ion-button expanded="block" (click)="comecar()">Login</ion-button>
  </ion-row>

</ion-content>