<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center aling-items-center>
    <H1>Loopis</H1>
  </ion-row>
  <form #formulario="ngForm"(ngSubmit)="validar(formulario)" >
    <ion-item>
      <ion-label type="text" position="floating">Usuario</ion-label>
      <ion-input ngModel name="email" required email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="text" position="floating">Senha</ion-label>
      <ion-input type="password" ngModel name="senha"></ion-input>
    </ion-item>
    <br />
    <!--tirar - do ngModel para pegar valor do botão root-->
    <ion-item>
      <ion-checkbox color="primary" ngModel=true name="tipo" margin></ion-checkbox>
      <ion-label type="text">Root</ion-label>
    </ion-item>

    <br /><br /><br />
    <ion-row justify-content-center align-items-center>
      <ion-button expanded="block" type="submit">Login</ion-button>
    </ion-row>
  </form>


</ion-content>